@import "variables";

header {
    padding: 1rem;

    span {
        // font-family: sans-serif;
        
        cursor: pointer;

        i {
            font-family: sans-serif;
            font-style: initial;
            padding-right: .3rem;
            font-size: 1.1rem;
        }
    }
}
.products-in-cart{
    width: 100%;
    padding: 1rem;
   table{
       width: 100%;
       thead{
           tr{
            th{
                padding: 1rem .5rem;
                font-family: sans-serif;
                text-align: inherit;
            }
           }
       }
       tbody{
        tr{
            
            td{
                vertical-align: middle;
                font-family: sans-serif;
                padding: 2rem .5rem;
                i{
                    cursor: pointer;
                    font-size: .5rem;
                }
            }
            .product{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                img{
                    height: 6rem;
                    width: 5rem;
                }
               .product-name{
                   display: flex;
                   flex-direction: column;
                   align-items: flex-start;
                span{
                    i{
                        color: gold;
                        font-size: .7rem;
                    }
                }
                div{
                    font-family: sans-serif;
                    padding: .5rem 0;
                    font-size: .8rem;
                }
               }
            }
        }  
       } 
    
   }
    
}
.proceed{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .proceed-button{
        font-family: sans-serif;
        margin-bottom: .75rem;
        padding: 1rem 3rem;
        background-color: whitesmoke;
    }
}
.total{
    display: grid;
    padding: 1rem;
    .coupon-code{
        h3{
            font-family: sans-serif;
        }
        .applyCode{
            display: inline-block;
            width: auto;
            margin: 1rem;
            padding: .3rem;
            border: 1px solid black;
            border-radius: 1.5rem;

            input{
                padding: .5rem 0 .5rem 1rem;
                border: 0;
            }
            input:focus{
                outline: none;
            }
        }
    }
    .total-bill{

        align-items: center;
        background-color: whitesmoke;
        padding: 2rem ;
        span{
            font-family: sans-serif;
            font-weight: bold;
        }
        div{
            margin: 1rem 0;
            display: flex;
            justify-content: space-between;
            span{
                font-family: sans-serif;
            }
        }
        
        
    }
}

@media screen and (min-width:1024px){
    header{
        padding: 1rem 4rem;
    }
    .products-in-cart{
        width: 100%;
        padding: 1rem 4rem;
       table{
           width: 100%;
           thead{
               tr{
                th{
                    text-transform: capitalize;
                    font-size: 1.2rem;
                    padding: .5rem;
                    font-family: sans-serif;
                }
               }
           }
           tbody{
            tr{
                
                td{
                    font-family: sans-serif;
                    padding: 1rem .5rem;
                }
                .product{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    img{
                        height: 6rem;
                        width: 6rem;
                    }
                    .product-name{
                        padding: 1rem;
                        span{
                            i{
                                color: gold;
                                font-size: .7rem;
                            }
                        }
                        div{
                            font-family: sans-serif;
                            padding: .5rem 0;
                            font-size: 1rem;
                        }
                    }
                }
            }  
           } 
        
       }
        
    }
    .proceed{
        padding: 1rem 4rem;
       
        flex-direction: row;
        
        .proceed-button{
            margin-bottom: 1rem;
        }
    }
    .total{
        padding: 1rem 4rem;
        grid-template-columns: 2fr 1fr;
        grid-gap: 5rem;
    }
}